<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The Code Report.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAE05B3C1B95C29B00EBA238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE05B551B95C29B00EBA238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE05B601B95C29B00EBA238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
